@font-face {
  font-display: swap;
  font-family: 'Do Hyeon';
  src: url(./files/DoHyeon-Regular.ttf) format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Just Another Hand';
  src: url(./files/JustAnotherHand-Regular.ttf) format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  src: url(./files/NotoSansKR-Regular.otf) format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Righteous';
  src: url(./files/Righteous-Regular.ttf) format('truetype');
}
